@font-face {
  font-family: "Berserker";
  src: url("../fonts/berserker.woff") format("woff"), url("../fonts/berserker.woff") format("woff2"), url("../fonts/berserker.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}